<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelpcamp</title>
</head>
<body>
    <h1>Campgrounds</h1>
    <a href="/">Return to home</a>
    <% for( let index = 0; index < campgrounds.length; index++ ) { %>
        <article>
            Title: <a href="/campgrounds/<%= campgrounds[index]._id %>"><%= campgrounds[index].title %></a>
        </article>
    <% } %>
</body>
</html>